/* Body styling */
body {
    background-color: sandybrown;
    font-family: sans-serif;
}

/* Image styling */
img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/* h1 styling */
h1 {
    text-align: center;
}