body {
    background-color: sandybrown;
    font-family: sans-serif;
}

img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
h1 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-group {
    margin: 0 auto;
    width: 13%;
}

.message {
    text-align: center;
}